# dependencies
node_modules/

# next.js
.next/
out/

# env (не коммитим секреты)
.env
.env.local
.env.*.local
.vercel/

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# typescript
*.tsbuildinfo

# coverage
coverage
*.lcov

# caches
.cache
.parcel-cache

# editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# yarn v3
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# keep example env file
!.env.example
